<h2>💍 Menu</h2>
<ul>
  <li><a href="{{ '/' | relative_url }}">Forside</a></li>
  <li><a href="{{ '/program' | relative_url }}">Program</a></li>
  <li><a href="{{ '/tilmeldte_gaester' | relative_url }}">Tilmeldte gæster og allergier</a></li>
  <li><a href="{{ '/overnatning_feriebyen' | relative_url }}">Overnatning i feriebyen</a></li>
  <li><a href="{{ '/alternative_overnatningssteder' | relative_url }}">Alternative overnatningssteder</a></li>
    <li><a href="{{ '/transport' | relative_url }}">Transport til Krike og Feriebyen</a></li>
    
  <li><a href="{{ '/stats' | relative_url }}">Stats</a></li>
</ul>
